table {
	border-collapse: collapse;
}

th, td, tr {
	border: 1px solid black;
	min-width: 100px;
	padding: 3px;
	height: 26px;
	text-align: right;
}

th {
	font-size: 20px;
}

tbody td {
	text-align: right;
	background-color: #dde;
}

tfoot {
	background-color: limegreen;
}

.current-cell {
	background-color: pink;
}