table {
	border-collapse: collapse;
}

th, td, tr {
	border: 1px solid black;
	min-width: 100px;
	padding: 3px;
	height: 26px;
	text-align: right;
}

th {
	font-size: 20px;
	text-align: center;
}

tbody td {
	text-align: right;
	background-color: #dde;
}

tfoot {
	background-color: limegreen;
}

.current-cell {
	background-color: pink;
}

form {
	display: inline-block;
	margin: 10px;
}

button {
	color: #900;
	background: #FF0;
	font-weight: bold;
	border: 1px solid #900;
}

button:hover {
	color: #FFF;
	background: #900;
}

.highlight {
	background-color: white;
}