table {
	border-collapse: collapse;
}

th, td, tr {
	border: 1px solid black;
	min-width: 100px;
	padding: 3px;
	height: 25px;
}

td {
	text-align: right;
}

tfoot {
	background-color: limegreen;
}

.current-cell {
	background-color: pink;
}